/* GLOBALS */
.container {
  width: 1280px;
  margin: 0 auto;
}
html {
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HEADER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
header > .container {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background-color: white;
}
header h1 {
  font-weight: 700;
  font-size: 45px;
}
.baseline {
  font-weight: 400;
  font-size: 30px;
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- NAV-MENU ---------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
}
.navMenu nav {
  display: flex;
  gap: 60px;
}
.navMenu a {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- CONTENT ----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
.content {
  display: flex;
  gap: 30px;
}
h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 13px;
}
.item span {
  font-size: 18px;
}
.item p {
  font-size: 18px;
}
.mainContent {
  width: 950px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mainContent img {
  height: 150px;
  width: 890px;
  object-fit: cover;
  margin: 23px 0px;
}
.mainContent .item {
  background-color: white;
  padding: 23px 30px;
}
.sideContent {
  height: 346px;
  width: 300px;
}
.sideContent img {
  margin-top: 10px;
  margin-bottom: 25px;
  height: 179px;
  width: 255px;
  object-fit: cover;
}
.sideContent .item {
  background-color: white;
  padding: 23px 22px;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- FOOTER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
footer > .container {
  background-color: #dddddd;
  margin-top: 60px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > .container p {
  font-size: 18px;
}
footer > .container a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
